@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: auto;
    padding: 0px;
}

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

html,
body {
    min-height: 100vh;
    background-color: white;
}

header {
    background-color: black;
    color: white;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-family: var(--font2);
    font-variant: 3vw;
    font-size: 4vw;
    text-align: center;

}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 2.5em;
}

header a,
footer a {
    font-weight: bolder;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

header a:hover,
footer a:hover {
    text-decoration: underline;
}

header>p {
    padding-bottom: 50px;
    font-family: var(--font1);
    font-size: 15px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}


#img {
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: right center;
    transform: translate(-50% -50%);
    color: white;
}

.imagem>p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.205)
}



.normal {
    font-family: var(--font3);
    background-color: white;
    color: black;
    margin: 30px;
    padding: 8px;

}

.imagem {
    left: 100%;
    top: 100%;
    font-family: var(--font3);
    color: white;
    background-color: rgb(211, 198, 198);
    background-image: url('../imagens/background001.jpg');
    background-attachment: fixed;
    text-decoration: rgba(83, 83, 83, 0.589);
}

.imagem2 {
    background-image: url('../imagens/background002.jpg');
    background-attachment: fixed;
    font-family: var(--font3);
    color: white;

}

.imagem2>p {
    display: inline-block;
    background-color: rgba(22, 20, 20, 0.521);
    padding: 5px;
    background-position: h;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}